[submodule "lisp/company-mode"]
	path = lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "lisp/auto-complete"]
	path = lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule "lisp/dash"]
	path = lisp/dash
	url = https://github.com/magnars/dash.el.git
[submodule "lisp/with-editor"]
	path = lisp/with-editor
	url = https://github.com/magit/with-editor.git
[submodule "lisp/ghub"]
	path = lisp/ghub
	url = https://github.com/magit/ghub.git
[submodule "lisp/graphql"]
	path = lisp/graphql
	url = https://github.com/vermiculus/graphql.el.git
[submodule "lisp/treepy"]
	path = lisp/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "lisp/libegit2"]
	path = lisp/libegit2
	url = https://github.com/magit/libegit2.git
[submodule "lisp/magit"]
	path = lisp/magit
	url = https://github.com/magit/magit.git
[submodule "lisp/async"]
	path = lisp/async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "lisp/helm"]
	path = lisp/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "lisp/bm"]
	path = lisp/bm
	url = https://github.com/joodland/bm.git
